<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--Local Machine database-->
    <add name="myConnectionString" connectionString="Data Source=SAURABH-PC\SQLEXPRESS;Initial Catalog=KalatmakDb;User Id=kalaUser; password=Khushal@12;  Integrated Security=False" providerName="System.Data.SqlClient"/>
    <!--Server Data base--> 
    <!--<add name="myConnectionString" connectionString="Data Source=localhost;Initial Catalog=KalatmakDb;User Id=kalaUser; password=Khushal@12#;  Integrated Security=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="http://localhost:1661/Kalatmak/ErrorPage.htm"></customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
  </system.web>
  <appSettings>
    <add key="domainAdd" value="http://test.kalatmak.net/" />
    <add key="AdminEmailID" value="yagneshdxt@gmail.com"/>
    <add key="ValidImageType" value="gif|Jpg|png|jpeg"/>
    <!--first Height then pipe and then width-->
    <add key="HigthWidthLogoImg" value="350|480" />

    <add key="ImageFolder" value="~/images/products/"/>

    <!--Admin email id-->
	<!--Admin email id-->
    <add key="MailFromId" value="yagneshdxt@gmail.com"/>
    <!-- 209.59.187.13 first EmailId then pipe and then Password-->
    <add key="MailFromCredentials" value="sadf@gmail.com|cialis12"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
